body {
    height: 100vh;
    }
.col-md-9 {
    height: auto;
    background-color:#e7e6e1 ;
}
.col-md-9 .container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.getbyFeeds #selectFeeds {

    border: 2px solid black;
    width: 150px;
    height: auto;
    font-size: 17px;
    padding-bottom: 0.4rem;
    padding-top: 0.15rem;
    background-color: #6c757d;
    color: white;
    margin-left: 2rem;
}
#imgContainer .fetchPhoto {

    min-width: 22rem;
    min-height: 22rem;
    max-height: 22rem;
    max-width: 22rem;
    border-radius: 2rem;
    
}
#randomButton {
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    
    #imgContainer .fetchPhoto {

        min-width: 25rem;
        min-height: 25rem;
        max-height: 25rem;
        max-width: 25rem;
        border-radius: 2rem;        
    }

}

 
 @media (min-width: 1280px) {
    
    #imgContainer .fetchPhoto {

        min-width: 27rem;
        min-height: 27rem;
        max-height: 27rem;
        max-width: 27rem;
        border-radius: 2rem;        
    }

} 

@media(min-width: 2000px) {

     #imgContainer .fetchPhoto {

        min-width: 36rem;
        min-height: 36rem;
        max-height: 36rem;
        max-width: 36rem;
        border-radius: 2rem;
        margin-top: 8rem;
    }
    .col-md-9 h2 {
        font-size: 45px;
        margin-bottom: 6rem;
        margin-top: 6rem;
    }

    .col-md-9 .row .container #randomButton {
        font-size: 30px;
        padding: 1rem;
    }  
    .col-md-9 .row .container #selectFeeds {
        font-size: 30px;
        height: auto;
        width: auto;
        padding: 1rem;
    } 

}

@media(min-width: 2600px) {

    .col-md-9 h2 {
        
        margin-top: 8rem;
    }
    #imgContainer .fetchPhoto {

        min-width: 40rem;
        min-height: 40rem;
        max-height: 40rem;
        max-width: 40rem;
        border-radius: 2rem;
        margin-top: 9rem;
    }
}  