body {
    height: 100vh;
    }
.col-md-9 {
    height: auto;
    background-color:#e7e6e1 ;
}
.col-md-9 .container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.getbyFeeds #selectFeeds {

    border: 2px solid black;
    width: 150px;
    height: auto;
    font-size: 17px;
    padding-bottom: 0.4rem;
    padding-top: 0.15rem;
    background-color: #6c757d;
    color: white;
    margin-left: 2rem;
}
#imgContainer .fetchPhoto {

    min-width: 22rem;
    min-height: 22rem;
    max-height: 22rem;
    max-width: 22rem;
    border-radius: 2rem;
    
}
#randomButton {
    margin-bottom: 1rem;
}